body{
    background-color: rgb(68, 138, 218);
    color: white;
    width: 75%;
    margin: auto;
}

form{
    margin-bottom: 100px;
}

img{
    height: 50px;
    padding: 50px 0px;
}

input{
    padding: 6px;
    margin: 4px;
}